<h1> Tacos!! </h1>

<p> I love Tacos </p>

<% fillings = ["Carnitas", "Al Pastor", "Carne Asada","Shrimp", "Plantain"] %>

<p> We have <%= fillings.count %> tacos <p>

<ul>
<% for filling in fillings %>
<li> <%= filling %> </li>
<% end %>
</ul> 